.App {
    text-align: center;
    text-decoration-color: blueviolet;
    color: red;
    font-size: 30px;
    text-decoration: underline blue;
}

.App-basic {
    text-decoration-color: blueviolet;
    color: blue;
    font-size: 22px;
    margin: 5%;
    height: 400px;
    border: 2px solid grey;
    text-align: center;
}

.signInBox {
    font-display: inherit;
    text-align: center;
}

.LogInButton {
    padding: 5px;
    background: blue;
    color: white;
}